<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <div class="column is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="field">
            <label class="title ">Edit <%= resource_name.to_s.humanize %></label>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.text_field :full_name,
              autofocus: true,
              autocomplete: "full_name",
              placeholder: "Full Name",
              class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              placeholder: "Email",
                              class: "input" %>
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            </p>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">

              <i>(leave blank if you don't want to change it)</i>
              <% if @minimum_password_length %>
              <br />
              <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
              <p class="control has-icons-left">
              <%= f.password_field :password,
                                  autocomplete: "new-password",
                                  placeholder: "New Password",
                                  class: "input"  %>

              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
            <%= f.password_field :password_confirmation,
                                  autocomplete: "new-password",
                                  placeholder: "Password Confirmation",
                                  class: "input"
                                   %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <%= f.label :image, class: "label" %>
                <%= f.file_field :image %>
            </p>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <%= f.submit "Update", class: "button is-warning" %>
            </div>
          </div>
          <% end %>
          <hr class="navbar-divider">
          <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button" %></p>
          <%= link_to "Back", :back%>
        </div>
      </div>
    </div>
  </div>
</section>












