<section class="hero is-white">
  <div class="hero-body">
    <div class="container">
      <div class="column is-centered">
        <div class="column is-6-table is-6-desktop is-6-widescreen">
          <div class="field">
            <label class="title "><h2>Sign up</h2></label>
          </div>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.text_field :full_name,
              autofocus: true,
              autocomplete: "full_name",
              placeholder: "Full Name",
              class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.email_field :email,
              autofocus: true,
              autocomplete: "email",
              placeholder: "Email",
              class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password,
              autocomplete: "new-password",placeholder: "Password",
              class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: 'input' %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <%= f.label :avatar, class: "label" %>
                <%= f.file_field :avatar %>
            </p>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <%= f.submit "Submit", class: "button is-warning" %>
            </div>
            <div class="control">
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "button is-info" %>
            </div>
            <% end %>
          </div>
          <hr class="navbar-divider">
          <p>Already have an acount ? <%= render "devise/shared/links" %></p>
        </div>
      </div>
    </div>
  </div>
</section>

