<section class="section">
    <div class="container">
        <div class="columns">

            <!-- LEFT SIDE -->
            <div class="column is-one-third">
                <div class="columns is-multiline">

                    <!-- Top Card -->
                    <div class="column is-full">
                        <div class="card">

                            <!-- Avatar -->
                            <div class="card-content is-horizontal-center is-flex">
                              <figure class="image is-128x128">
                                <%= image_tag avatar_url(current_user), class: "is-rounded"%>
                              </figure>
                            </div>

                            <div class="card-content">

                                <!-- Upload Button -->
                                <div class="content has-text-centered">
                                  <strong><%= current_user.full_name %></strong>
                                  <%= form_for :user, url:users_edit_url(@user), action: :update, method: :post do |f|%>

                                  <div class="file">
                                    <label class="button is-primary is-outlined is-medium is-fullwidth">
                                      <%= f.file_field :avatar, class: "file-input", onChange: "this.form.submit();"%><i class="fas fa-upload"></i>&nbsp;&nbsp; Upload Avatar
                                    </label>

                                  </div>

                                  <%end%>
                                </div>
                                <hr class="h-10">

                                <!-- Member -->
                                <article class="media">
                                  <div class="media-content">Member Since</div>
                                  <div class="media-right">
                                    <strong><%= current_user.created_at.strftime('%b %y')%></strong>
                                  </div>
                                </article>
                                <hr class="h-10">

                                <!-- From -->
                                <article>
                                  <div class="media">
                                    <div class="media-content">
                                      <p>
                                        <strong>Form</strong><br >
                                        <%= current_user.from %>
                                      </p>
                                    </div>
                                    <div class="media-right">
                                      <i class="toggle far fa-edit" aria-controls="user_form"></i>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: "user_form", class: "hidden"} do |f|%>
                                  <div class="field">
                                    <%= f.text_field :from, autofocus: true, autocomplete: "from", class: "input" %>
                                    <%= f.submit "Save", class: "button is-outlined is-primary" %>
                                    <a class="toggle button is-outlined" aria-controls="user_form">Cancel</a>

                                  </div>
                                  <%end%>


                                  </div>
                                </article>
                                <hr class="h-10">

                                <!-- Online Status -->
                                <article>
                                  <div class="media">
                                    <div class="media-content">Status</div>
                                    <div class="media-right">
                                      <strong><% if current_user.status %>Online <% else %> Offline <% end %></strong><i class="toggle far fa-edit" aria-controls="user_status"></i>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: "user_status", class: "hidden"} do |f|%>
                                  <div class="field">
                                    <%= f.select(:status, options_for_select([["Online", true], ["Offline",false]]),{},{class: "select"})%><br />
                                    <%= f.submit "Save", class: "button is-primary is-outlined" %>
                                    <a class="button is-outlined" aria-controls="user_status">Cancel</a>

                                  </div>
                                  <%end%>


                                  </div>
                                </article>

                            </div>
                        </div>
                    </div>

                    <!-- Bottom Card -->
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content">

                                <!-- About -->
                                <article>
                                  <div class="media">
                                    <div class="media-content">
                                      <p>
                                        <strong>About Yourself</strong><br >
                                        <%= current_user.about %>
                                      </p>
                                    </div>
                                    <div class="media-right">
                                      <i class="toggle far fa-edit" aria-controls="user_about"></i>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: "user_about", class: "hidden"} do |f|%>
                                  <div class="field">
                                    <%= f.text_area :about, autofocus: true, autocomplete: "about", class: "input" %>
                                    <%= f.submit "Save", class: "button is-primary is-outlined" %>
                                    <a class="toggle button is-outlined" aria-controls="user_about">Cancel</a>

                                  </div>
                                  <%end%>


                                  </div>

                                </article>
                                <hr class="h-10">

                                <!-- Languages -->
                                <article>
                                  <div class="media">
                                    <div class="media-content">
                                      <p>
                                        <strong>Language</strong><br >
                                        <%= current_user.language%>
                                      </p>
                                    </div>
                                    <div class="media-right">
                                      <i class="toggle far fa-edit" aria-controls="user_language"></i>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: "user_language", class: "hidden"} do |f|%>
                                  <div class="field">
                                    <%= f.text_field :language, autofocus: true, autocomplete: "language", class: "input" %>
                                    <%= f.submit "Save", class: "button is-primary is-outlined" %>
                                    <a class="toggle button is-outlined" aria-controls="user_language">Cancel</a>

                                  </div>
                                  <%end%>


                                  </div>
                                </article>
                                <hr class="h-10">

                                <!-- Linked Account -->
                                <article class="media">
                                  <div class="content">
                                    <p>
                                      <strong>Linked Account</strong><br />
                                      <%if current_user.uid %>
                                        <span class="has-text-success">Facebook verified</span>
                                      <%else%>
                                        <%= link_to 'Connect to Facebook', user_facebook_omniauth_authorize_path, class: 'has-text-danger'%>
                                      <%end%>
                                    </p>
                                  </div>

                                </article>
                                <hr class="h-10">
                                <!-- Mobile number -->
                                <article>
                                  <div class="media">
                                    <div class="media-content">
                                      <p>
                                        <strong>Mobile Number</strong><br >
                                        <%= current_user.hidden_phone %>
                                      </p>
                                    </div>
                                    <div class="media-right">
                                      <i class="toggle far fa-edit" aria-controls="user_about"></i>
                                    </div>
                                  </div>
                                  <div class="content">
                                    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post, html: {id: "user-phone", class: "hidden"} do |f|%>
                                  <div class="field">
                                    <%= f.text_field :phone, autofocus: true, autocomplete: "about", class: "input", id: "phone_number" %>
                                    <a class="toggle button is-outlined" aria-controls="user-phone">Cancel</a>
                                    <%= link_to "Add & Verify", "javascript:verifyPhone()", class: "button is-outlined"%>

                                  </div>
                                  <%end%>


                                  </div>

                                </article>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">
                <div class="columns is-multiline">

                    <!-- Create New Gig -->
                    <div class="column is-one-third has-text-centered">
                      <%= link_to new_gig_path do%>
                        <div class="card">

                            <div class="card-image card-content is-horizontal-center is-flex ">
                                <figure class="image is-128x128 ">
                                    <%= image_tag 'plus.png'%>
                                </figure>
                            </div>

                            <div class="card-content">
                                <strong>Create a new gig</strong>
                            </div>

                        </div>
                        <%end%>
                    </div>


                    <!-- Sample Gig -->
                    <% current_user.gigs.each do |gig|%>
                    <div class="column is-one-third">

                      <div class="card">
                        <%= link_to gig_path(gig) do %>
                          <div class="card-image">
                            <figure class="image is-4by3">
                              <%= image_tag gig_cover(gig)%>
                            </figure>
                          </div>

                          <div class="card-content p-t-5 p-b-5">
                            <p class="subtitle is-6 m-b-5"><%= gig.title%></p>
                            <span class="star-review"><i class="fa fa-star"></i>
                             <%= gig.average_rating %> <span class="has-text-primary"><%= gig.reviews.count %></span>
                            </span>
                          </div>
                        <%end%>
                        <footer class="card-footer">
                          <% basic_price = gig.pricings.find{ |p| p.pricing_type == 'basic'}%>
                          <a class="has-text-danger is-block card-footer-item has-text-centered">
                            <% if basic_price.nil? %>
                             <strong>
                                <span class="small-title has-text-dark">No Pricing Yet</span>
                              </strong>
                            <%else%>
                              <span class="small-title">STARTING AT</span>
                              <strong>$<%= basic_price.price %></strong>
                            <%end%>
                          </a>
                          <%= link_to "Edit", edit_gig_path(gig), class: "has-text-dark is-block card-footer-item has-text-centered"%>
                        </footer>
                      </div>
                    </div>
                    <%end%>

                </div>
            </div>

        </div>
    </div>
</section>




<!-- HTTPS required. HTTP will give a 403 forbidden response -->
<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>

<script>
  // initialize Account Kit with CSRF protection
  AccountKit_OnInteractive = function(){
    AccountKit.init(
      {
        appId:"facebook_id",
        state:"Freelancer",
        version:"v1.1",
        debug:true,
      }
    );
  };

  // login callback
  function loginCallback(response) {
    if (response.status === "PARTIALLY_AUTHENTICATED") {
      var code = response.code;
      $.ajax({
        type: 'POST',
        url: '/users/edit_phone',
        data: {code: response.code},
        success: (data) => {
          if (data.success) {
            showNotification('success', 'Update Phone Number sucessfully')
            location.reload()
          } else {
            showNotification('error', 'Invalid Phone Number')
          }
        },
        error: (data) => {
          showNotification('error', 'Invalid Phone Number')
        }
      });
      // Send code to server to exchange for access token
    }
    else if (response.status === "NOT_AUTHENTICATED") {
      showNotification('error', 'Not Authenticated')
    }
    else if (response.status === "BAD_PARAMS") {
      showNotification('error', 'Bad Parameters')
    }
  }

  // phone form submission handler
  function verifyPhone() {
    var phoneNumber = document.getElementById("phone_number").value;
    AccountKit.login(
      'PHONE',
      {phoneNumber: phoneNumber}, // will use default values if not specified
      loginCallback
    );
  }

  function showNotification(type, message) {
    new Noty({
      type: type,
      layout: 'topRight',
      timeout: 2000,
      theme: 'relax',
      text: message
    })
  }

</script>


















